html{
    scroll-behavior: smooth;
}
.image{
    border-radius: 25%;
    
}
.heading{
    font-family: 'Nixie One', cursive;
    font-weight: bolder;

}
.main-heading{
    font-family: 'Charm', cursive;
}
    .test{
        font-family: 'Yesteryear', cursive;
    font-size: 40px;
}